In [1]:
import pandas as pd

df = pd.read_csv (r"C:\Users\herma\PythonEnvironment\Project4\heart_cleveland_upload.csv")
df.head(5) #menampilkan 5 data teratas

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [2]:
#for filtering data
df2 = df[(df['age']>40)&(df['age']<60)]
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
9,59,1,0,178,270,0,2,145,0,4.2,2,0,2,0
10,59,1,0,170,288,0,2,159,0,0.2,1,0,2,1
11,59,1,0,160,273,0,2,125,0,0.0,0,0,0,1
12,59,1,0,134,204,0,0,162,0,0.8,0,2,0,1
13,58,0,0,150,283,1,2,162,0,1.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,43,1,3,110,211,0,0,161,0,0.0,0,0,2,0
287,42,0,3,102,265,0,2,122,0,0.6,1,0,0,0
288,42,1,3,136,315,0,0,125,1,1.8,1,0,1,1
289,42,1,3,140,226,0,0,178,0,0.0,0,0,0,0
290,41,1,3,110,172,0,2,158,0,0.0,0,0,2,1

In [3]:
x = df.iloc[:,0:13]
y = df.iloc[:,13]

80% of data will be in the train part and rest will be in the test part

In [7]:
from sklearn.model_selection import train_test_split #fungsi library ini membagi  data training dan data testing
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=50)

In [8]:
from sklearn.svm import SVC
from sklearn import metrics

In [9]:
#Fit the Support Vector Machine Model
svcmodel = SVC(kernel='linear', random_state=50, probability=True)
svcmodel.fit(x_train, y_train)

#Predict the value for new, unseen data
svc_pred = svcmodel.predict(x_test)

#Find Accuracy using accuracy_score method
svc_accuracy = round(metrics.accuracy_score(y_test, svc_pred)*100, 2)
print (svc_accuracy)

86.67